body {
    /**background-color: #FFA1A1;**/

    font-family: sans-serif;

    background-size: 100%;

    text-align: center;


    /**background-image: **/
}

.profile {
    margin: auto;
    position: relative;
    right: 600px;
    /* height: 100px;
    width: 100px;
    text-align: center;
    padding: 20px;
    margin: auto; */
    
}

.ext-links {
    margin: auto;
    position: relative;
    right: 600px;
    /* text-align: left; */
    /* text-align: center;
    position: relative;
    right: 200px;
    top: 400px; */
}

.experience {

}




    

