body {
    

    font-family: sans-serif;

    background-size: 100%;

    text-align: center;


}

/*Commenting out to center them*/
/* .profile {
    margin: auto;
    position: relative;
    right: 600px;

}

.ext-links {
    margin: auto;
    position: relative;
    right: 600px;
} */





    

